div.iniSes{text-align:center;}
div.iniSes{font-size:20px;}

div.mod{font-size:20px;}
div.reg{font-size:20px;}

html{
  background-color: lightblue;
}

button{
  background-color: lightyellow;
}
