.main-container {
    width: 50%;
    margin: 90px auto auto;
}

.nav-bar {
    height: 80px;
    padding: 0px 20px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.nav-bar-menu {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 50px;
    display: flex;
    width: 200px;
}
.nav-bar-menu>form {
    margin-bottom: 0;
}

.logo {
    height: 80px;
    width: auto;
}

.toolbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 14px;
    width: 75%;
    color: black;
    margin: auto auto 30px;
}

.toolbar-container>.submit-btn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-elem {
    padding: 2%;
    width: 100%;
    border-radius: 13px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.active-toolbar {
    background: #ccc;
    color: black;
    pointer-events: none;
    user-select: none;
    font-weight: bold;
}

.active {
    display: flex !important;
}
