* {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    width: 50%;
    margin: auto;
}

.logo {
    height: 80px;
    width: auto;
}

#login-form, #register-form {
    display: none;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 7% 12%;
    border-radius: 7px;
    background: rgba(125, 125, 125, 0.1);
    box-shadow: 0px 3px 6px lightgrey;

}

.submit-btn {
    background: deepskyblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 2%;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0px 3px 6px lightgrey;
}

.toolbar-container {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    color: black;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px lightgrey;
}

.toolbar-elem {
    padding: 2%;
    width: 100%;
    border-radius: 13px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.active-toolbar {
    background: deepskyblue;
    color: white;
    font-weight: bold;
}


.active {
    display: flex !important;
}

input, select {
    margin: 7px 0;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 7px;
    font-size: 15px;
}

#tablax {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container {
    width: 100%;
    position: relative;
    height: 400px;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back-card {
    position: absolute;
    top: 0;
    background: black;
    height: 100%;
    align-items: center;
    width: 100%;
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    gap: 6px;
}

.container:hover {
    transform: scale(1.1);

}

.back-card:hover {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
    /*transform: scale(1.5);*/
}

a {
    text-decorations: none;
    color: white
}

.movie-info {
    display: flex;
    flex-direction: row;
}
.movie-info-single{
    width: 500px;
    height: auto;
}
